<%= form_for message, remote: true do |f| %>
    <div class="input-group">
        <%= f.text_field :content, class: 'form-control', placeholder: 'Type Message ...' %>
        <%= f.hidden_field :sendable_id, value: get_user.id %>
        <%= f.hidden_field :sendable_type, value: get_user.class.name %>
        <%= f.hidden_field :conversation_id, value: message.conversation.id %>
        <span class="input-group-btn">
                        <%= f.submit 'Send', class: 'btn btn-primary btn-flat' %>
                      </span>
    </div>
<% end %>
