<div class="col-md-12">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
      <li><a href="#settings" data-toggle="tab">Account History</a></li>
    </ul>
    <div class="tab-content">
      <!-- /.tab-pane -->
      <div class="active tab-pane" id="timeline">
        <% events = Event.get_events(current_user) %>
        <% events.each do |event| %>
            <% li_class = 'fa fa-cloud-upload bg-blue' %>
            <div class="post clearfix">
              <div class="user-block">
                <img class="img-circle img-bordered-sm" src="<%= image_path 'dist/img/user7-128x128.jpg' %>" alt="User Image">
                <span class="username">
                          <% if current_user = event.initiatable %>
                            <% link = root_url %>
                          <% elsif event.initiatable_type == 'User' %>
                            <% link = user_path(event.initiatable) %>
                          <% elsif event.initiatable_type == 'Transcriber' %>
                            <% link = transcriber_path(event.initiatable) %>
                          <% else %>
                            <% link = '' %>
                          <% end %>
                  <a href="<%= link %>"><%= event.initiatable.name %></a>
                        </span>
                <span class="description"><%= event.created_at.strftime("%b %d, %Y") %></span>
              </div>
              <!-- /.user-block -->
              <p>
                <strong><%= event.message %> <a id="modal-306060" href="#modal-container-306060" data-url="<%= job_url event.eventable.id %>" role="button" class="btn" data-toggle="modal"><%= event.eventable.id %></a></strong>
              </p>

            </div>
        <% end %>

      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane" id="settings">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4"></div>
          </div>
        </div>


      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>

<div class="modal fade" id="modal-container-306060" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h4 class="modal-title" id="myModalLabel">
          My Jobs
        </h4>
      </div>
      <div class="modal-body">
        <div id="job-area"></div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>

  </div>

</div>

<script>
    $(document).ready(function() {

// Support for AJAX loaded modal window.
// Focuses on first input textbox after it loads the window.
        $('[data-toggle="modal"]').click(function(e) {
            e.preventDefault();
            var url = $(this).attr("data-url");
            if (url!=null){
                $.ajax({
                    url: url,
                    type: "get", //send it through get method
                    success: function(response) {
                        var data = JSON.parse(response);
                        console.log(data);
                        $('#job-area').html(response);
                    },
                    error: function(xhr) {
                        console.log(xhr.responseText)
                        $('#job-area').html(xhr.responseText);
                    },
                    dataType: "script"
                });

            }

        });

    });
</script>