<header class="main-header">
  <!-- Logo -->
  <a href="<%= root_url %>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>C</b>VS</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Cloud</b>VS</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar ">
    <!-- Sidebar toggle button-->

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Control Sidebar Toggle Button -->
        <li>
          <%= link_to 'Pricing', pricing_path %>
        </li>

        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-sign-in"></i> Login
            <span class="label label-success"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li><!-- start message -->
                  <a href="<%= new_admin_session_path %>">
                    <h4>
                      Admin Login
                    </h4>
                  </a>
                </li>
                <!-- end message -->
                <li><!-- start message -->
                  <a href="<%= new_user_session_path %>">
                    <h4>
                      User Login
                    </h4>
                  </a>
                </li>
                <!-- end message -->
                <li><!-- start message -->
                  <a href="<%= new_transcriber_session_path %>">
                    <h4>
                      Transcriber Login
                    </h4>
                  </a>
                </li>
                <!-- end message -->

              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </nav>
</header>