<header class="main-header">
  <!-- Logo -->
  <a href="<%= root_url %>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>C</b>VS</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Cloud</b>VS</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->


    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">


        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src=<%= image_path(current_transcriber.img) %> class="user-image" alt="User Image">
            <span class="hidden-xs"><%= current_transcriber.email %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src=<%= image_path(current_transcriber.img) %> class="img-circle" alt="User Image">

              <p>
                <%= current_transcriber.name %>
                <small><%= current_transcriber.created_at.to_s%></small>
              </p>
            </li>
            <!-- Menu Body -->

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <%= link_to 'Sign out', destroy_transcriber_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="<%= edit_transcriber_registration_path %>" ><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>