<div class="col-md-9">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
          <li><a href="#settings" data-toggle="tab">Account History</a></li>
    </ul>
    <div class="tab-content">
      <!-- /.tab-pane -->
      <div class="active tab-pane" id="timeline">
          <% events = Event.get_events(current_admin) %>
          <% events.each do |event| %>
              <% li_class = 'fa fa-cloud-upload bg-blue' %>
              <div class="post clearfix">
                <div class="user-block">
                  <img class="img-circle img-bordered-sm" src="<%= image_path 'dist/img/user7-128x128.jpg' %>" alt="User Image">
                  <span class="username">
                          <% if current_admin = event.initiatable %>
                            <% link = root_url %>
                          <% elsif event.initiatable_type == 'User' %>
                            <% link = user_path(event.initiatable) %>
                          <% elsif event.initiatable_type == 'Transcriber' %>
                            <% link = transcriber_path(event.initiatable) %>
                          <% else %>
                            <% link = '' %>
                          <% end %>
                          <a href="<%= link %>"><%= event.initiatable.name %></a>
                        </span>
                  <span class="description"><%= event.created_at.strftime("%b %d, %Y") %></span>
                </div>
                <!-- /.user-block -->
                <p>
                  <strong><%= event.message %> <%= eventable_link event %></strong>
                </p>

              </div>
          <% end %>

      </div>
      <!-- /.tab-pane -->

          <div class="tab-pane" id="settings">
            <%= business_job_line_graph(@jobs)  %>
            <%= business_usage_bar_graph(@jobs)  %>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4"></div>
              </div>
            </div>


          </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>