<!DOCTYPE html>
<html>
  <head>
    <title>CloudVS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  </head>

  <% if current_super_admin %>
    <%= render 'layouts/super_admin_body' %>
  <% elsif current_admin %>
    <%= render 'layouts/admin_body' %>
  <% elsif current_user %>
    <%= render 'layouts/user_body' %>
  <% else %>
    <%= render 'layouts/default' %>
  <% end %>

</html>
