<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <title>CloudVS</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'https://js.stripe.com/v1/', 'application'%>

    <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,700,600,800,900' rel='stylesheet' type='text/css'>


  </head>

  <% if current_super_admin %>
    <%= render 'layouts/super_admin_body' %>
  <% elsif current_admin %>
    <%= render 'layouts/admin_body' %>
  <% elsif current_user %>
    <%= render 'layouts/user_body' %>
<% elsif current_transcriber %>
    <%= render 'layouts/transcriber_body' %>
  <% else %>
    <%= render 'layouts/default' %>
  <% end %>

</html>
